{% extends "base.html" %}

{% block head %}
	<script type="text/javascript" src="{{ base_url }}/static/js/qrcode.js"></script>
	<script type="text/javascript" src="{{ base_url }}/static/js/config.js"></script>
	<style type="text/css">
		div.qrcode { position: absolute; visibility: hidden; }
		div.qrcode#show { }
	</style>
{% end %}

{% block body %}
	<!-- <ul> -->
	<form action="" method="post" id="form1">
		{% module xsrf_form_html() %}
		<ul class="server_info">
			<li class="server_info">Server: <input type="text" id="server" name="server" value="{{ items["server"] }}" disabled></li>
			<li class="server_info">Method: <input type="text" id="method" name="method" value="{{ items["method"] }}" disabled></li>
			<li class="server_info">Timeout: <input type="text" id="timeout" name="timeout" value="{{ items["timeout"] }}" disabled></li>
			<li class="server_info">Workers: <input type="text" id="workers" name="workers" value="{{ items["workers"] }}" disabled></li>
		</ul>
		{% for i in range(items["length"]) %}
		<ul class="server_info">
			<li class="server_info">Port: <input type="text" name="port" value="{{ items[i]["port_password"]["port"] }}" disabled></li>
			<li class="server_info">Password: <input type="text" name="password" value="{{ items[i]["port_password"]["password"] }}" disabled></li>
			<li class="server_info"><button type="button" onclick="show_qrcode('qrcode_{{ items[i]["uri_base64"] }}')">Show QRCode</button></li>
			<div class="qrcode" id="qrcode_{{ items[i]["uri_base64"] }}"></div>
			<script type="text/javascript">
				new QRCode("qrcode_{{ items[i]["uri_base64"] }}", "ss://{{ items[i]["uri_base64"] }}");
			</script>
		</ul>
		{% end %}
		<ul class="command">
			<button type="button" id="editButton" onclick="onEdit()">Edit</button>
			<button type="button" id="saveButton" onclick="onSave()" disabled>Save</button>
			<button type="reset" id="cancelButton" onclick="onCancle()" disabled>Cancel</button>
		</ul>
	</form>
	<!-- </ul> -->
{% end %}
