{% extends "base.html" %}

{% block body %}
	{% if message %}
	<div class="message">{{ message }}</div>
	{% end %}
	<form action="{{ base_url }}/login" method="post">
		{% module xsrf_form_html() %}
		<div>
			<label for="username" class="label">Name</label>
			<input type="text" name="username" class="login">
		</div>
		<div>
			<label for="password" class="label">Password</label>
			<input type="password" name="password" class="login">
		</div>
		<input type="hidden" name="next" value="{{ next }}">
		<input type="submit" value="Sign in" class="button">
	</form>
{% end %}
